.model-info {
	&::before {
		content: '';
		display: block;
		width: 1px;
		height: 70px;
		background: white;
		transform: rotate(-45deg);
	}
	font-size: 14px;
	padding: 3px 8px 3px 8px;
	border-radius: 1px;
	@extend %mono;
	span {
		transform: translate3d(32px, -16px, 0);
		position: absolute;
		width: max-content;
		&:hover {
			background: var(--col-primary);
			color: white;
		}
	}
}
