#menu {
	position: fixed;
	top: 0;
	background: #eee; // temp
	height: $nav-height;
	width: 100%;
	text-align: right;
	z-index: 1;
	transition: background .3s ease-in-out;
	&.transparent {
		background: rgba(0, 0, 0, 0.001);
	}
	ul {
		margin-right: 2em;
	}
	li {
		list-style: none;
		margin-top: $nav-height / 4;
		a {
			@extend %mono;
			color: var(--col-ac-dark);
			text-transform: uppercase;
			font-size: 16px;
		}
	}
}
