#app {
	position: relative;
	z-index: 2;
	#form { // main field input area
		position: absolute;
		z-index: 2;
		padding: 2rem;
		display: flex;
		flex-direction: column;
		height: 100%;

		select {
			margin-top: 1em;
		}

		.input-group {
			display: flex;
			justify-content: space-between;
			padding-top: 1em;
			color: var(--col-text-dark);

			input {
				background: none;
				border: none;
				border-bottom: 1px solid white;
				color: inherit;
			}
		}

		button {
			position: absolute;
			bottom: 3rem;
		}

		.explainer {
			opacity: 0.7;
			max-width: 310px;
			margin-top: 1em;
			@extend %mono;
			font-size: 12px;
			hr {
				opacity: 0.2;
				border: 1px solid gray;
				margin-bottom: 0.7em;
			}
		}
	}
	#app-inayr {
		position: absolute;
		z-index: 3;
		top: 1em;
		right: 1em;
	}

	#app-wattage {
		position: absolute;
		z-index: 2;
		bottom: 1em;
		right: 1em;
	}
	.info {
		text-transform: uppercase;
		@extend %mono;
		font-size: 20px;
	}
}
