#intro {
	background: var(--col-primary);
	margin-top: $nav-height;
	padding: 3rem;
	text-align: center;
	display: flex;
	flex-direction: column;
	.title {
		font-size: 120px;
		color: #fff;
		padding-top: 2rem;
		padding-bottom: 3rem;
		@extend %mono;
	}
	.description {
		color: rgba(255, 255, 255, 0.8);
		max-width: 600px;
		padding-bottom: 4rem;
		margin: 0 auto;
		flex-grow: 2;
		text-align: justify;
	}
	button {
		align-self: flex-end;
		margin: 0 auto 2em auto;

	}
}

@include media('<desktop') {
	#intro .title {
		font-size: 40px;
	}
	.scroll-me {
		display: none;
	}
}
