#app-container {
	scroll-snap-type: proximity;
	scroll-snap-points-y: repeat(100vh);
	scroll-snap-type: y proximity;
	max-height: 100vh;
	overflow-y: scroll;
}

section {
	height: 100vh;
	scroll-snap-align: start;
	overflow-x: hidden;
}

@import 'intro';
@import 'app';
@import 'about';
@import 'footer';
