:root {
	--col-primary: #3CB371;
	--col-primary-gradient: linear-gradient(to bottom, #11998e, #38ef7d);
	--col-ac-dark: rgb(51, 48, 47);
	--col-ac-dark-gradient: linear-gradient(to top, #232526, #323333);
	--col-text-light: rgba(255, 255, 255, 0.753);
}
